@model Pexels.Models.VwModel
@{
    ViewBag.Title = "Index";
}

<main>
    <!--Header Section In About Page Start-->
    <section class="about-header" style="background-image: url('/Public/image/@Model.AboutHeaders.HeadBackground')">
        <div class="header-content">
            <h1>@Model.AboutHeaders.HeadTitle</h1>
            <h3>
                @Model.AboutHeaders.HeadText
            </h3>
        </div>
    </section>
    <!--Header Section In About Page End-->

    <!--Main Content In About Page Start-->
    <section class="main-content">
        <div class="container">
            <div class="col-lg-12">
                @foreach (var slider in Model.AboutUs)
                {
                    <i class="fas fa-@slider.Icon"></i>
                    <div class="about-content">
                        <h1>@slider.Title</h1>
                        <p>
                            @slider.Content
                        </p>
                    </div>
                }
            </div>
        </div>
    </section>
    <!--Main Content In About Page End-->

</main>



