@using Pexels.Models
@model VwModel

@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_PartLayout.cshtml";
}

<div class="title-search">
    <h3>Breakfast time</h3>
</div>

<div class="grid" data-masonry='{ "itemSelector": ".grid-item" }' @*data-infinite-scroll='{ "path": ".pagination__next", "append": ".grid-item", "history": false }'*@>
    @foreach (var item in Model.Photos)
    {
        <div class="grid-item">
            <div class="photo">
                <a href="@Url.Action("index", "Photosingle", new {id = @item.Id})">
                    <img src="/Public/UserImage/@item.Link" alt="">
                </a>
            </div>

            <div class="photo-buttons">
                @if (Session["User"] == null)
                {
                    <a href="@Url.Action("login","Account")"><i class="fas fa-heart right-like-button"></i></a>
                }
                else
                {
                    <i class="fas fa-heart right-like-button"></i>
                }

                <input type="hidden" id="isLikeed" value="0" />
                <input class="forPhotoId" type="hidden" value="@item.Id" />
            </div>
        </div>
    }
</div>


