
@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_PartLayout.cshtml";
}

<div class="subnavbar">

    <a href="@Url.Action("Index","Discover")" class="tab">Kəşf edin</a>

    <a href="@Url.Action("Index","Popularphotos")" class="tab active">Populyar şəkillər</a>

    <a href="@Url.Action("Index","Popularsearches")" class="tab">Populyar axtarışlar</a>

</div>

@*Page Title*@
<div class="title-popular-photos">
    <h3>Populyar şəkillər</h3>
</div>

@*Photos Section In Popular Photos Page*@
<div class="photos">
    <div class="row">
        <div class="col-lg-4 photos-column">
            <div class="image-div mb-3">
                <a class="image-link" href="photo-single.html">
                    <img src="/Public/image/collection-photo1.jpeg" alt="">
                </a>
                <div class="photo-buttons">
                    <a href=""><i class="fas fa-plus-circle"></i></a>
                    <a href="" class="right-like-button"> <i class="far fa-heart"></i></a>
                </div>
            </div>
            <div class="image-div mb-3">
                <a href="photo-single.html">
                    <img src="/Public/image/collection-photo1.jpeg" alt="">
                </a>
                <div class="photo-buttons">
                    <a href=""><i class="fas fa-plus-circle"></i></a>
                    <a href="" class="right-like-button"> <i class="far fa-heart"></i></a>
                </div>
            </div>
            <div class="image-div mb-3">
                <a href="photo-single.html">
                    <img src="/Public/image/collection-photo2.jpeg" alt="">
                </a>
                <div class="photo-buttons">
                    <a href=""><i class="fas fa-plus-circle"></i></a>
                    <a href="" class="right-like-button"> <i class="far fa-heart"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 photos-column">
            <div class="image-div mb-3">
                <a href="photo-single.html">
                    <img src="/Public/image/collection-photo2.jpeg" alt="">
                </a>
                <div class="photo-buttons">
                    <a href=""><i class="fas fa-plus-circle"></i></a>
                    <a href="" class="right-like-button"> <i class="far fa-heart"></i></a>
                </div>
            </div>
            <div class="image-div mb-3">
                <a class="image-link" href="photo-single.html">
                    <img src="/Public/image/collection-photo1.jpeg" alt="">
                </a>
                <div class="photo-buttons">
                    <a href=""><i class="fas fa-plus-circle"></i></a>
                    <a href="" class="right-like-button"> <i class="far fa-heart"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 photos-column">
            <div class="image-div mb-3">
                <a href="photo-single.html">
                    <img src="/Public/image/collection-photo3.jpeg" alt="">
                </a>
                <div class="photo-buttons">
                    <a href=""><i class="fas fa-plus-circle"></i></a>
                    <a href="" class="right-like-button"> <i class="far fa-heart"></i></a>
                </div>
            </div>
            <div class="image-div mb-3">
                <a href="photo-single.html">
                    <img src="/Public/image/collection-photo2.jpeg" alt="">
                </a>
                <div class="photo-buttons">
                    <a href=""><i class="fas fa-plus-circle"></i></a>
                    <a href="" class="right-like-button"> <i class="far fa-heart"></i></a>
                </div>
            </div>
        </div>

    </div>
</div>
