
@{
    ViewBag.Title = "Index";
}

<div class="title-collection">
    <h1>Breakfast time</h1>
</div>

<div class="photos">
    <div class="row">
        <div class="col-lg-4 photos-column">
            <div class="image-div mb-3">
                <a href="photo-single.html">
                    <img src="/Public/image/collection-photo1.jpeg" alt="">
                </a>
                <div class="photo-buttons">
                    <a href=""><i class="fas fa-plus-circle"></i></a>
                    <a href="" class="right-like-button"> <i class="far fa-heart"></i></a>
                </div>
            </div>
            <div class="image-div mb-3">
                <a href="photo-single.html">
                    <img src="/Public/image/collection-photo1.jpeg" alt="">
                </a>
                <div class="photo-buttons">
                    <a href=""><i class="fas fa-plus-circle"></i></a>
                    <a href="" class="right-like-button"> <i class="far fa-heart"></i></a>
                </div>
            </div>
            <div class="image-div mb-3">
                <a href="photo-single.html">
                    <img src="/Public/image/collection-photo2.jpeg" alt="">
                </a>
                <div class="photo-buttons">
                    <a href=""><i class="fas fa-plus-circle"></i></a>
                    <a href="" class="right-like-button"> <i class="far fa-heart"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 photos-column">

            <div class="image-div mb-3">
                <a href="photo-single.html">
                    <img src="/Public/image/collection-photo2.jpeg" alt="">
                </a>
                <div class="photo-buttons">
                    <a href=""><i class="fas fa-plus-circle"></i></a>
                    <a href="" class="right-like-button"> <i class="far fa-heart"></i></a>
                </div>
            </div>
            <div class="image-div mb-3">
                <a href="photo-single.html">
                    <img src="/Public/image/collection-photo1.jpeg" alt="">
                </a>
                <div class="photo-buttons">
                    <a href=""><i class="fas fa-plus-circle"></i></a>
                    <a href="" class="right-like-button"> <i class="far fa-heart"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 photos-column">
            <div class="image-div mb-3">
                <a href="photo-single.html">
                    <img src="/Public/image/collection-photo3.jpeg" alt="">
                </a>
                <div class="photo-buttons">
                    <a href=""><i class="fas fa-plus-circle"></i></a>
                    <a href="" class="right-like-button"> <i class="far fa-heart"></i></a>
                </div>
            </div>
            <div class="image-div mb-3">
                <a href="photo-single.html">
                    <img src="/Public/image/collection-photo2.jpeg" alt="">
                </a>
                <div class="photo-buttons">
                    <a href=""><i class="fas fa-plus-circle"></i></a>
                    <a href="" class="right-like-button"> <i class="far fa-heart"></i></a>
                </div>
            </div>
        </div>

    </div>
</div>

