@using Pexels.Models
@model VwModel

@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_PartLayout.cshtml";
}

@*Title For Photos Category*@
<div class="title-collection">
    <h1>category</h1>
</div>

<div class="grid" data-masonry='{ "itemSelector": ".grid-item" }'>
    @foreach (var item in Model.Photos)
    {
        <div class="grid-item">
            <a href="@Url.Action("index", "Photosingle", new {id = @item.Id})">
                <img src="/Public/UserImage/@item.Link" alt="">
            </a>
            <div class="photo-buttons">
                <i class="fas fa-heart right-like-button"></i>
                <input type="hidden" id="isLikeed" value="0" />
                <input class="forPhotoId" type="hidden" value="@item.Id" />
            </div>
        </div>
    }
</div>




