@model Pexels.Models.VwModel
@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_PartLayout.cshtml";
}



<section class="container-center-discover">
    <div class="title-discover">
        <h3>Populyar axtarışlar</h3>
        <p>Pexels üzrə ən məşhur axtarış şərtləri.</p>
    </div>

    <div class="row">
        @foreach (var item in Model.Searches)
        {
            <div class="col-lg-3 search-category">
                <div class="card text-center" style="width: 20rem;">
                    <a class="search-category-link" href="@Url.Action("Index", "Search",new{name = item.Title})">
                        <img class="card-img-top" src="/Public/UserImage/@item.Photo">
                        <h4 class="search-category-title">@item.Title</h4>
                        <span class="search-category-more">→</span>
                    </a>
                </div>
            </div>
        }
    </div>
</section>
