@model Pexels.Models.VwModel
@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_PartLayout.cshtml";
}


<!--Popular Search Section Start-->
<section >
    <div class="container-fluid" >
        <!--Popular Search Page Title Start -->
        <div class="title-discover">
            <h3>Populyar axtarışlar</h3>
            <p>Pexels üzrə ən məşhur axtarış şərtləri.</p>
        </div>
        <!--Popular Search Page Title End -->

        <!--Photos Start-->
        <div class="row">
            @foreach (var item in Model.Searches)
            {
                <div class="col-lg-3 search-category">
                    <div class="card text-center" style="max-width: 20rem;margin:0 auto;">
                        <a class="search-category-link" href="@Url.Action("Index", "Search", new {name = item.Title})">
                            <img class="card-img-top" src="/Public/UserImage/@item.Photo">
                            <h4 class="search-category-title">@item.Title</h4>
                            <span class="search-category-more">→</span>
                        </a>
                    </div>
                </div>
            }
        </div>
        <!--Photos End-->
    </div>
</section>
<!--Popular Search Section End-->
